/* Universal Styles*/

/* Main */
.contact-details {
  display: grid;
  grid-template-columns: 3rem 2rem 7rem;
  width: 15rem;
  margin: 1rem auto;
}
.contact-details p {
  align-self: center;
}
#contact-form {
  text-align: center;
}
form {
  border: 0.1rem solid black;
  padding: 1rem;
  width: 50%;
  margin: 0 auto;
}
.blue {
  background-color: lightblue;
}
.green {
  background-color: lightgreen;
}