/* Universal Styles*/

/* Main */
.contact-details {
  display: grid;
  grid-template-columns: 3rem 2rem 7rem;
  width: 15rem;
  margin: 1rem auto;
}
.contact-details p {
  align-self: center;
}
form {
  border: 0.25rem solid crimson;
  padding: 1rem;
}
.blue {
  background-color: lightblue;
}
.green {
  background-color: lightgreen;
}