/* Universal Styles */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
}
p {
  font-weight: 300;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* HEADER */
nav {
  background-color: crimson;
  width: 96%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-evenly;
  margin-left: 2.5rem;
  position: fixed;
  border: 0.2rem solid black;
  top: 0;
  z-index: 5;
}
nav a:hover {
  text-decoration: none;
}

#banner {
  background-color: crimson;
  width: 96%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  position: relative;
  top: 2.5rem;
}
#banner img {
  border-radius: 50%;
  padding: 1rem;
}
#banner h1 {
  font-size: 3rem;
  display: grid;
  align-items: center;
  justify-content: center;
}

/* MAIN */
main {
  position: relative;
  top: 2.5rem;
}

section {
  margin: 2.5rem;
}

.project-box {
  border: 1px solid black;
  padding: 1.5rem;
  margin: 2.5rem 0;
}