/* Universal Styles */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  margin: 0;
}
main, footer {
  margin: 0 1rem;
}
p {
  font-weight: 300;
  font-size: 0.75rem;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1.5rem;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.center {
  text-align: center;
}
.mobile {
  display: block;
}
.desktop {
  display: none;
}
@media only screen and (min-width: 30rem) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
}

/* HEADER */
nav {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  padding: 0.5rem 0;
  background-color: crimson;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
}
nav ul li {
  list-style: none;
}
nav a:hover {
  text-decoration: none;
}
#banner {
  position: relative;
  top: 3.75rem;
  background-color: crimson;
}
#banner h1{
  padding-bottom: 1rem;
}
#banner img {
  border-radius: 50%;
}
#image-banner-container{
  width: 50%;
  margin: 0 auto;
  padding: 1rem 0;
}

/* MAIN */
main {
  position: relative;
  top: 5rem;
}
#about-me h2 {
  margin-bottom: 1rem;
}
#projects {
  margin: 2rem 0;
}
.project-box {
  border: 1px solid black;
  padding: 1.5rem;
  margin: 1rem 0;
}
#skills h2, #skills h3 {
  margin: 1rem 0;
}

/* FOOTER */
footer {
  position: relative;
  top: 5rem;
  margin: 1rem 0;
}